/* display styles */
.flipclock7 {
  overflow-x: hidden;
}

.flipclock7 #flipclock7-countdown {
  width: inherit;
}

.flipclock7 .flip-clock-wrapper {
  margin-left: 0;
  margin-right: 0;
  margin-top: 4em;
  margin-bottom: 2em;
  z-index: 1;
}

/* set the height of the .flip-clock-divider according
* to breakpoints in the theme
*/
.flipclock7 .flip-clock-dot.top {
  top: 30%;
}

.flipclock7 .flip-clock-dot.bottom {
  bottom: 30%;
}

/* no padding in front of the first clock element */
.flipclock7 .flip-clock-divider:first-child {
  padding: 0;
}
