/* display styles */


.flip-clock-wrapper {
  font-size: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.flip-clock-wrapper ul {
  /* Determines the overall size of the timer. */
  font-size: 60px;
}

@media screen and (max-width: 815px) {
  .flip-clock-wrapper ul {
    height: .5em;
    width: .35em;
  }
  .flip-clock-divider {
    height: 3em;
    width: .25em;
    padding: 5px;
  }
  .flip-clock-dot {
    width: .35em;
    height: .35em;
    left: .15em;
  }
  .flip-clock-dot.bottom {
    bottom: .75em;
  }
  .flip-clock-dot.top {
    top: 1em;
  }
  .flip-clock-wrapper ul li a div {
    font-size: .5em;
  }
  .flip-clock-wrapper ul li a div div.inn {
    font-size: .5em;
  }
  .flip-clock-wrapper ul li {
    line-height: .5em;
  }
  .flip-clock-wrapper ul {
    margin: 2.5px;
  }
  .flip-clock-divider .flip-clock-label {
    right: -3em;
  }
  .flip-clock-divider.hours .flip-clock-label {
    right: -3.5em;
  }
  .flip-clock-divider.minutes .flip-clock-label {
    right: -4em;
  }
  .flip-clock-divider.seconds .flip-clock-label {
    right: -4em;
  }
}
@media screen and (max-width: 338px) {
  .flip-clock-wrapper ul {
    height: .5em;
    width: .275em;
  }
  .flip-clock-divider .flip-clock-label {
    right: -3em;
  }
  .flip-clock-divider.hours .flip-clock-label {
    right: -3em;
  }
  .flip-clock-divider.minutes .flip-clock-label {
    right: -3.5em;
  }
  .flip-clock-divider.seconds .flip-clock-label {
    right: -4em;
  }
}
